*.lock
.venv*
build
thirdparty/*
resources/custom.exe
resources/th07.exe
reccmp-user.yml
reccmp-build.yml
scripts/__pycache__/
tools/__pycache__/
compile_commands.json
prefix/
run/
wk/
replay/*.mpr
*.[mM][dD]
!/README.md
!/CONTRIBUTING.md
